@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root {
  --black: #000000;
  --lite-gray: #C0C0C0;
  --gray: #a7afbb;
  --dark-gray: #343434;
  --white: #FFFFFF;
}
/*body*/
body{
  background-color:whitesmoke;
  font-family: 'Open Sans', sans-serif;
  }
/*body end*/
.brand-name {
  border: 3px solid #000000;
  border-radius: 0.5rem;
  margin: 15px ;
  text-align: center;
  background-color: #C0C0C0;
  }
.container-fluid{
  padding-left: 2rem;
  padding-right: 2rem;
}
.container-center{
  max-width: 600px;
  margin: auto;
 }
 
 .primary-link{
   
  color: #000000;
  border: 1px solid gray;
  border-radius: 0.6rem;
  padding: 00.5rem 1rem;
  text-decoration: none;
  margin: 50% 1%;
 }

 .secondary-link{
   color: black;
   border-radius: 15px;
   border: 1px solid gray;
   padding: 1% 1%;
   margin: 2rem 2rem;
 }

 hr{
   margin: 2rem;
 }
 .navigation {
  background-color: var(--lite-gray);
  padding: 1rem 0rem;
  color: var(--black);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: sticky;
}
.footer-nav{background-color: var(--lite-gray);
  padding: 1rem 0rem;
  color: var(--black);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;}
